body{
	overflow-x:hidden;
}
input{
	outline: none;
}

/*stylilise le menu de l'accueil*/
.menuAccueil{
	position:sticky;
	top:38px;
	background:white;
	border-collapse: collapse;
}
.presentation{
/*	position: absolute;*/
/*	left:10px;*/
	margin-top: 15px;
	left:0px;
/*	width:90vw;*/
	padding: 0px;
/*	box-sizing: border-box;*/
	justify-content: center;
/*	margin-left: 2px;*/
	min-height: 500px;
	background-image: url('../image/image.jpg');
	background-size:cover;
	background-position: center;
	box-sizing: border-box;
	width:100%;
}
.page{
	width:100%;
	padding:0px 0px 60px 0px;
	position: fixed;
	height:100%;
	left:0px;
	top:0px;
	box-sizing:border-box;
	overflow:scroll;
	overflow-x: hidden;
}


.resume{
	background-color:rgba(0, 0, 0, 0.4) ;
}

.divDescription{
/*	background-color: rgba(150, 150, 150, 0.4);*/
}

.description{
	background-color: rgba(150,150,200,0.6);
/*	margin-left: 7px;*/
	position: relative;
/*	left: 20vw;*/
	box-sizing: border-box;
	width:80%;
}

.divElement{
	width:95%;
	box-sizing:border-box;
	padding:10px 0px 20px 0px;
}


/*cour*/

@media screen and (max-width:645px){
	.divCourAppercus{
		grid-template-columns: repeat(auto-fit, minmax(0px,90%));
	}
	.divPresentationElement{
		width: 90%;
	}

}



/*connection*/

.box-area{
    width: 900px;
    min-height:500px ;
}

.b{
    cursor: pointer;
}

