
.body{
	position: absolute;
	width: 2000px;
	top:0px;
	left:calc(50% - 1000px);
	min-height: 100%;
/*	overflow-y: hidden;*/
}
.navbarMenu{
	position:absolute;
	width: 2000px;
	box-sizing: border-box;
	padding:5px 20px;
	display:flex;
	top:0px;
	left:calc(50% - 1000px);
	background:blueviolet;
	z-index:20;
/*	text-align:left;*/
}

.navbarDivMenu{
	display: flex;
	align-items: center;
}
.navbarDiv1Menu{
	width:150px;
}

.navbarDiv2Menu{
/*	display: inline-block;*/
	visibility: show;
	height: inherit;
	width:calc(100% - 250px);
	justify-content: center;
}

.navbarDiv2Menu div{
	cursor: pointer;
}

.navbarDiv3Menu{
	width:100px;
}

.divContentMenu{
	justify-content: left;
	width:500px;
	display: flex;
}

/*mobile version*/

.divMobileMenu{
	width: 2000px;
	padding:0px 20px;
	box-sizing: border-box;
	position:fixed;
	display:flex;
	bottom: 0px;
/*	visibility: hidden;*/
	height: 0px;
/*	display: show;*/
	background:blueviolet;
	color:white;
	justify-content: center;
}

@media screen and (max-width:2000px){
	.body,.navbarMenu{
		width:100%;
		left:0px;
	}
	.divMobileMenu{
		width:100%;
		left:0px;
	}
}

@media screen and (max-width:925px){
	.navbarDiv2Menu{
		visibility: hidden;
		height: 40px;
	}

	.divMobileMenu{
/*		visibility: show;*/
		height: inherit;
/*		display: show;*/
	}
}

