/*default parrameter*/
*{
/*	font-family: arial;*/
/*	color:#555;*/
/*	font-weight: 0;*/
/*font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
}

.family-morel{
	font-family: morel;
}


h1,b,h2,h3,h4,h5{
	font-weight: 600;
}



.flex{
	display: flex;
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center
}

.flex-vertical{
	display: flex;
	flex-direction: column;
}


.justify-content-right{
	justify-content:right;
}

.justify-content-left{
	justify-content: left;
}

.justify-content-center{
	justify-content: center;
}

.grid{
	display: grid;
}

.grid-200,.grid-250,.grid-350,.grid-100,.grid-200,.grid-150,.grid-50,.grid-30,.grid-400{
	display: grid;
	width:100%;
	grid-gap:10px;
	grid-template-columns: repeat(auto-fit, minmax(0px, 200px));
}

.grid-100{
	grid-template-columns: repeat(auto-fit, minmax(0px, 100px));
}

.grid-50{
	grid-template-columns: repeat(auto-fit, minmax(0px, 60px));
	grid-gap:4px;

}
.grid-30{
	grid-template-columns: repeat(auto-fit, minmax(0px, 30px));
	grid-gap:2px;
}
.grid-200{
	grid-template-columns: repeat(auto-fit, minmax(0px, 200px));
}

.grid-150{
	grid-template-columns: repeat(auto-fit, minmax(0px, 150px));
}

.grid-250{
	grid-template-columns: repeat(auto-fit, minmax(0px, 250px));
}

.grid-300{
	grid-template-columns: repeat(auto-fit, minmax(0px, 300px));
}

.grid-350{
	grid-template-columns: repeat(auto-fit, minmax(0px, 350px));
}
.grid-400{
	grid-template-columns: repeat(auto-fit, minmax(0px, 400px));
}

/*align*/
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}


.text-underline{
	text-decoration: underline;
}


/*container*/
.container-2000{
	width:2000px;
	margin-left:calc(50% - 1000px);
	box-sizing:border-box;
}
.container-1500{
	width:1500px;
	margin-left:calc(50% - 750px);
	box-sizing:border-box;
}
.container-1000{
	width:1000px;
	margin-left:calc(50% - 500px);
	box-sizing:border-box;
}

.container-800{
	width:800px;
	margin-left:calc(50% - 400px);
	box-sizing:border-box;
}

.container-500{
	width:500px;
	margin-left:calc(50% - 250px);
	box-sizing:border-box;
}

.container-85{
	width:85vw;
	margin-left: 7.5vw;
	box-sizing:border-box;
}

.container-75{
	width:75vw;
	margin-left: 12.5vw;
	box-sizing:border-box;
}

.container-50{
	width:50vw;
	margin-left: 25vw;
	box-sizing:border-box;
}



.suspention{
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width:2000px){
	.container-2000{
		width:100%;
		margin-left: 0px;
	}
}
@media screen and (max-width:1000px){
	.container-1000{
		width:100%;
		margin-left: 0px;
	}
}

@media screen and (max-width:1500px){
	.container-1500{
		width:100%;
		margin-left: 0px;
	}
}

@media screen and (max-width:800px){
	.container-800{
		width:100%;
		margin-left: 0px;
	}
}

@media screen and (max-width:500px){
	.container-500{
		width:100%;
		margin-left: 0px;
	}
}
.pointer{
	cursor: pointer;
}

.border-box{
	box-sizing:border-box;
}

.border-0{
	border-width: 0;
}

.border-none{
	border:none;
}

.border-gray{
	border-color:rgba(0, 0, 0, 0.15);
}

.border{
	border-size:1px;
}


/*layout*/

/*border-radius*/
.rounded,.rounded-5{
	border-radius:5px;
}

.rounded-10{
	border-radius: 10px;
}

.rounded-20{
	border-radius: 20px;
}

/*padding*/
.m-0{
	margin:0px;
}
.m-2{
	margin: 2px;
}

.m-5{
	margin: 5px;
}

.mx-2{
	margin-left: 2px;
}

.my-2{
	margin-top:2px ;
}

.mx-5{
	margin-left: 5px;
}

.my-5{
	margin-top:5px ;
}
.mx-10{
	margin-left: 10px;
}

.my-10{
	margin-top:10px ;
}

.mx-20{
	margin-left: 20px;
}
.break-word{
	word-break: break-word;
}
.my-20{
	margin-top:20px ;
}
.p-2{
	padding:2x;
}
.p-1{
	padding:1px;
}

.p-5{
	padding:5px;
}

.p-10{
	padding:10px;
}

.p-20{
	padding:20px;
}
.px-1{
	padding-left: 1px;
	padding-right: 1px;
}

.py-2{
	padding-top: 1px;
	padding-bottoms: 1px;
}
.px-2{
	padding-left: 2px;
	padding-right: 2px;
}
.py-2{
	padding-bottom: 2px;
	padding-top: 2px;
}

.px-5{
	padding-left: 5px;
	padding-right: 5px;
}
.py-5{
	padding-bottom: 5px;
	padding-top: 5px;
}

.px-10{
	padding-left: 10px;
	padding-right: 10px;
}
.py-10{
	padding-bottom: 10px;
	padding-top: 10px;
}

.px-20{
	padding-left: 20px;
	padding-right: 20px;
}
.py-20{
	padding-bottom: 20px;
	padding-top: 20px;
}

.w-100{
	width:100%;
}

.w-100w{
	width:100vw;
}

.w-75{
	width:75%;
}

.w-75w{
	width:75vw;
}

.w-85{
	width:85%;
}

.w-85w{
	width:75vw;
}


.w-90{
	width:90%;
}

.w-90w{
	width:90vw;
}

.w-50{
	width:50%;
}

.w-50w{
	width:50vw;
}

.w-25{
	width:25%;
}

.w-50w{
	width:25vw;
}



.h-50h{
	height:100vh;
}
.h-100{
	height:100%;
}

.h-100h{
	height:100vh;
}

.h-75{
	height:75%;
}

.h-75h{
	height:75vh;
}

.h-85{
	height:85%;
}

.h-85h{
	height:85vh;
}

.h-100h{
	height:100vh;
}

.h-75{
	height:75%;
}

.h-95h{
	height:95vh;
}

.h-95{
	height:95%;
}

.h-85h{
	height:85vh;
}
/*shadow*/
.shadow-gray,.shadow{
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-red{
	box-shadow: 0 0.5rem 1rem rgba(200, 0, 0, 0.15);
}


.error-background{
	background:rgba(200,0,0,0.7);
	color:white;
}

.error-border{
	border-color:rgba(200,0,0,0.7);
	border-width:2px;
}

.move{
	transition: 0.5s all;
}

.move-2s{
	transition: 2s all;

}



/*background*/
.bg-inherit{
	background-color:inherit ;
}

.bg-white{
	background-color:white ;
}

.bg-gray{
	background-color:rgba(0, 0, 0, 0.15);
}

.bg-red{
	background-color:#dc3545
}
.bg-green{
	background-color:#198754
}
.move{
	transition: all .5s;
}


/*font size*/

.fs-1{font-size:calc(1.375rem + 1.5vw)!important}
.fs-2{font-size:calc(1.325rem + .9vw)!important}
.fs-3{font-size:calc(1.3rem + .6vw)!important}
.fs-4{font-size:calc(1.275rem + .3vw)!important}
.fs-5{font-size:1.25rem!important}.fs-6{font-size:1rem!important}


	*{
			outline:none;
		}
		form .input{
/*			margin-left: 10px;*/
			width:calc(100% - 15px);
			margin-top:5px;
			bpx-sizing:border-box;
			border-radius:4px;
		}
		input{
			outline:none;
		}

		.suiv{
/*			z-index:10;*/
			position:fixed;
			display: inline-block;
			top:calc(100% - 180px);
			left:calc(100% - 120px);
			width:100px;
/*			padding:99px;*/
			z-index:20;
			text-align: center;
		}

		.discution{
			position: fixed;
			z-index:21;
			top:90px;
			right:20px;
			width:300px;
			max-height:calc(90vh - 90px);
			overflow-y:scroll;
			padding:10px;
			border-radius:20px;
			background:white;
			height: inherit;
			height:calc(90vh - 90px);
		}

		.affProd{
			margin-top:20px;
			display: grid;
			width:100%;
			grid-gap:10px;
			justify-content: center;
			grid-template-columns: repeat(auto-fit, minmax(0px, 250px));
		}


		@media screen and (max-width:803px){
			.affProd{
				grid-template-columns: repeat(auto-fit, minmax(0px,200px));
			}
		}

		@media screen and (max-width:660px){
			.affProd{
				grid-template-columns: repeat(auto-fit, minmax(0px, calc(50% - 10px)));
			}
			.discution{
				width:100%;
				height:100%;
				max-height: 100%;
				top:0px;
				right: 0px;
			}
			.divFormMessage{
/*				width: calc(100vw - 20px) ;*/
			}
			.suiv{
				left:calc(100% - 100px);
			}
		}
		.titreMessage:hover{
			background:#f2f2f2;
			cursor:pointer;
		}
		.divFormMessage{
			position:sticky;
			height:70px;
			display: flex;
			flex-direction:column;
			width: calc(100% - 10px);
			text-indent: right;
			box-sizing: border-box;
/*			vertical-align: bottom;*/
			top:calc(100% - 70px);
		}