.body{
    width: 100%;
    height:100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:11;
}


.containers{
    height:100%;
    position: relative;
    overflow: hidden;
}

.content-container{
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    padding:0px;
}

.content{
   
}

.con{
    height: 100%;
    width: 100%;
    left: 0px;
    overflow-y: scroll;
    /* transition: all .4s; */
    color: #fff;
    position: absolute;
    transform: scale(1.1);
    /* transform-origin: bottom left; */
    opacity: 0;
    pointer-events: none;
    /* display: none; */
    transition: all .7s ease;
    padding-left: 120px;
    background-color: white;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
    
   
}

.active-content {
/*    transform-style: preserve-3d;*/
    transform: scale(1) rotateY(0);
    opacity: 1;
    pointer-events: auto;
    /* display: block; */
    transition: all .7s ease;
    backface-visibility: auto;
    /* transform-origin: bottom letf; */
}

/* .con:nth-child(1){
    background-color: white;
}
.con:nth-child(2){
    background-color: rgba(119, 194, 134, 0.315);
}
.con:nth-child(3){
    background-color: rgb(129, 129, 141);
}
.con:nth-child(4){
    background-color: greenyellow;
}
.con:nth-child(5){
    background-color: blue;
}
.con:nth-child(6){
    background-color: blueviolet;
} */
