/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.boxMessage .op{
    position: fixed;
    height: 450px;
    width: 300px;
    top: 100px;
    left: 200px;
    border: 2px solid red;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.boxMessage .header{
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .3);
    background-color: blueviolet;
    
}


.boxMessage .chatBox{
    height: 378px;
    padding-top: 10px;
    overflow-y: scroll;
}

/* 
*::-webkit-scrollbar {
	width: 3px;
}


*::-webkit-scrollbar-track{
	background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
	background: #180b0b;
}

*::-webkit-scrollbar-thumb:hover{
	background: #0e0606;
} */

.boxMessage .footer{
    position: relative;
    justify-content: space-between;
    bottom: 0px;
    width: 298px;
    height: 42px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .3);
    background-color: blueviolet;
    left: 0px;

}

.boxMessage .input{
    position: relative;
    width: 350px;
    height: 42px;
    /* left: 0px; */
    border-radius: 20px;
    left: 0px;
    
    /* border: 2px solid magenta; */
}



.boxMessage .input textarea{
    position: absolute;
    width: 250px;
    height: 30px;
    resize: none;
    outline: none;
    border-radius: 20px;
    min-height: 30px;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    bottom: 5px;
    left: 0px;
    
}

.boxMessage .disc{
    width: 300px;
     height: 450px;
     border: 2px solid green;
}


.boxMessage .smiley{
    font-size: 20px;
    display: inline-block;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transform: rotateX('20deg') rotateY('20deg');
    color: blue;
}



.boxMessage .footer i{
    position: absolute;
    font-size: 30px;
    /* border:2px solid black; */
    border-radius: 50px;
    padding: 2px;
    right: 13px;
    margin-top: 3px;
    transition: all .3s ease;
}


/* css chatbox  */
.boxMessage .mess {
    /* border: 2px solid red; */
    margin-bottom: 4px;
}


.boxMessage .mess .mess_contain{
    max-width: 80%;
    background-color: rgba(200, 200, 200, 0.2);
    /* opacity: .8; */
    padding: 5px;
    cursor: pointer;
    transition: all .4s;
    margin-bottom: 4px;
    border: 0;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.7);

}

.boxMessage .emeteur {
    justify-content: flex-start;
}

.boxMessage .recepteur {
    justify-content: flex-end;
}
.boxMessage .emeteur .mess_contain{
    margin-left: 4px;
}
.boxMessage .recepteur .mess_contain{
    margin-right: 10px;
}

.boxMessage .mess_contain .message{
    font-size: 14px;
}

.boxMessage .mess_contain .name{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.boxMessage .mess_contain .namee{
    padding-right: 4px;
    font-size:15px ;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 150px;
    /* background-color: #555; */
    /* border: 1px solid black; */
}

.boxMessage .mess_contain .message{
    /* background-color: white; */
    word-wrap: break-word;
    /* font-weight: 600; */
}


.boxMessage .mess_contain .times{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.boxMessage .times .response{
    /* border: 1px solid black; */
    border-radius: 20px;
    margin-right: 20px;
    padding: 0px 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #555;
    color: white;

}




@media only screen and (max-width: 992px){
    .boxMessage .disc{

        width: 500px;
        height: 100%;
        /* background-color: red; */
    }

    .boxMessage .op{
        margin: 0 auto;
        width: auto;
        justify-content: center;
        height: 100vh;
        top: auto;
        left: auto;
    }

    .boxMessage .header{
        
        height: 50px;
    }

    .boxMessage .footer{
        position: fixed;
        height: 50px;
        width: 500px;
        bottom: 5px;
        /* border: 2px solid black; */
    }

    .boxMessage .footer .input{
        position: fixed;
        width: 430px;
        border: 2px solid black;
    }

    .boxMessage .input textarea{
        position: fixed;
        padding-top: 7px;
        height: 42px;
        width: 430px;
    }

    .boxMessage .footer .send{
        position: fixed;
        position: absolute;
        right: 10px;

    }

    .boxMessage .chatBox{
        height: calc(100% - 100px);
        padding-bottom: 20px;
        width: 500px;
        left: 0px;
    }
}
